body {
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.topContainer {
  padding-top: 100px;
  background-color: #E4F9F5;
  position: relative;

}

.middle-container {
  margin:100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom:50px;
}

.bottomCloud {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.topCloud {
  position: absolute;
  right: 250px;
  top: 50px;
}

.pro {
  text-decoration: underline;
}

.intro{
  width:30%;
  margin:auto;
}

.profile_pic {
  padding-top: 40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
p{
  line-height: 2;
}
.computer {
  border-radius: 50%;
  width:25%;
  float: left;
  margin-right: 30px;
}

.random_img {
  border-radius: 50%;
  width:25%;
  float: right;
  margin-left: 30px;
}

.footer-link {
  color: #11999E;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.skill-row{
  margin:100px auto 100px auto;
  width:50%;
  text-align: left;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright{
  color:#EAF6F6;
  padding: 20px 0;
  font-size: 0.75rem;
}

.contact-msg{
 margin: 40px auto 60px;
 width: 40%;
}

hr{
  margin : 100px auto;
  border:10px dotted grey;
  border-bottom: 0;
  width: 4%;
}
